@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
}

.want-be-here {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157
}

.main-header-hero {
  background-color: #ffffff;
  color: #000000;
  background-image: url(../images/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.reasons {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.reasons-answer {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.reasons-item-summary {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
}

.reasons-item-summary-first-last {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
}

.reasons-advantage {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: none;
}

.options-item {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.option-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  text-align: center;
  text-transform: none;
}

.go-if-ready {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.reasons-answer {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: none;
  color: #333333;
  background-color: #ffffff;

}

.go-if-ready a {
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
}

.send-form-footer {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.description-form-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}

.field {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #000000;
  background-color: #ffffff;
}

.newsletter-button {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
}

.contacts-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}
