@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.button {
  box-sizing: border-box;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  overflow-wrap: anywhere;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  outline-color: #333333;
  cursor: pointer;
  user-select: none;
}

.button:disabled {
  background-color: #e5e5e5;
}

.button:hover,
.button:focus {
  background-color: #68a2ca;
}

.button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-brown:hover,
.button-brown:focus {
  background-color: #615048;
}

.button-brown,
.button-brown:active {
  background-color: #756157;
}

.button-green:hover,
.button-green:focus {
  background-color: #6c9e42;
}

.button-green,
.button-green:active {
  background-color: #7db54f;
}

.button-big {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.main-header-hero {
  background-color: #86e0f0;
  color: #000000;
  background-image: url("../images/index-background.jpg");
  background-size: cover;
}

.slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.answer {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.email-footer-index .answer {
  color: inherit;
}

.reasons {
  text-align: center;
}

.reasons-item-first-last {
  color: #ffffff;
  background-color: #82b3d3;
}

.reasons-item-summary,
.options-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.reasons-advantage,
.option-description {
  color: #333333;
}

.reasons-item-first-last,
.reasons-advantage {
  color: inherit;
}

.search {
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.email-footer-index {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/background-footer.jpg");
  background-size: cover;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: inherit;
}

.inner-header {
  color: #ffffff;
  background-color: #333333;
  background-image: url("../images/catalog-background.jpg");
  background-size: cover;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control-input {
  line-height: 23px;
}

.button-default {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
}

.inner-header-title-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sorting-container {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.offer-card-link {
  text-decoration: none;
}

.offer-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: inherit;
}

.offer-hotel-item,
.offer-start-price {
  color: #333333;
}

.button-catalog-favorite {
  background: #82b3d3;

}

.button-catalog-in-favorite {
  background: #7db54f;
}

.offer-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.pagination-link {
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pagination-disabled {
  color: inherit;
  background-color: transparent;
}

.pagination-current {
  color: inherit;
  background-color: #f2f2f2;
}

.control {
  line-height: 23px;
}
